/* Google work sens font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* header styles */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px, 240px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1em;
}

nav li a{
    text-decoration: none;
}